/* app.component.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .edit{
    background-color: #0b66a7;
    color:white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;

}

/* Corrected CSS class name */
.delete {
    background-color: rgb(167, 11, 11);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}


.status{
    background-color: rgb(10, 177, 10);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.addTask{
    background-color: rgb(10, 177, 10);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
  }
  
  .delete:hover {
    background-color: rgb(99, 7, 7);
  }
  .status:hover {
    background-color: rgb(3, 68, 3)
  }
  .edit:hover {
      background-color: rgba(3, 3, 83, 0.445);
    }
   .addTask:hover {
      background-color: rgb(3, 68, 3)
    }

 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 22px;
    border: none;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    border: none;
  }
  
  th {
    background-color: black;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-right: 8px;
    
  }

  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the logout button container */
.logout-container {
    text-align: right;
    margin-top: 20px;
}

/* Style for the logout button */
.logout-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #dc3545; /* Red color, you can change it as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the logout button */
.logout-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

  
  /* Add more styles as needed */
  