/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .edit{
    background-color: #0b66a7;
    color:white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;

}

.delete {
    background-color: rgb(167, 11, 11);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}


.status{
    background-color: rgb(10, 177, 10);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.addTask{
    background-color: rgb(10, 177, 10);
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
  }
  
  .delete:hover {
    background-color: rgb(99, 7, 7);
  }
  .status:hover {
    background-color: rgb(3, 68, 3)
  }
  .edit:hover {
      background-color: rgba(3, 3, 83, 0.445);
    }
   .addTask:hover {
      background-color: rgb(3, 68, 3)
    }

 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 22px;
    border: none;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    border: none;
  }
  
  th {
    background-color: black;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-right: 8px;
    
  }

  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.logout-container {
    text-align: right;
    margin-top: 20px;
}


.logout-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.logout-button:hover {
    background-color: #c82333; 
}

  
   */


   .container {
    display: flex;
    margin: auto;
    padding: 20px;
    
  }
  
  .logout-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .logout-button {
    margin-bottom: 20px;
  }
  
  .task-card {
    width: 330px; /* Adjust the width to fit three cards per row with a 20px gap */
    min-width: 250px; /* Ensure a minimum width */
    margin: 10px 0;
    max-width: 300px;
    background-color:rgb(219, 216, 240);
    border: 1px solid gray;
  }
  
  .edit-box {
    margin-top: 10px;
  }

  .card-title{
    margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .completed{
    color: green;
  }
  .incompleted{
    color:dimgray
  }

 
  