   .container {
    display: flex;
    margin: auto;
    padding: 20px;
    
  }
  
  .logout-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .logout-button {
    margin-bottom: 20px;
  }
  
  .task-card {
    width: 330px; /* Adjust the width to fit three cards per row with a 20px gap */
    min-width: 250px; /* Ensure a minimum width */
    margin: 10px 0;
    max-width: 300px;
    background-color:rgb(219, 216, 240);
    border: 1px solid gray;
  }
  
  .edit-box {
    margin-top: 10px;
  }

  .card-title{
    margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  .completed{
    color: green;
  }
  .incompleted{
    color:dimgray
  }

 
  